@font-face {
  font-family: 'TJFont';
  src: url('../assets/fonts/TraderJoes-JYrx.otf') format('opentype');
}
.navbar {
  position: fixed;
  top: 0;
  font-family: 'TJFont', sans-serif;
  /* background-color: #dfa06f; */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  color: rgb(235, 39, 0);
  flex-shrink: 0;
  height: 50px;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid #dfa06f;
  box-sizing: border-box;
}
.title {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  justify-self: center;
  align-self: center;
}
.button-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0 16px 0 0;
  font-weight: 100;
  color: #646cff;
  text-decoration: inherit;
  justify-self: end;
  align-self: center;
}
.button-list:hover {
  color: #4086ff;
}
.toplogo {
  height: 34px;
  width: auto;
  padding: 0 16px;
  justify-self: start;
  align-self: center;
  box-sizing: content-box;
  will-change: filter;
  transition: filter 300ms;
}
